name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        app: [frontend, backend]

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          cd ${{ matrix.app }}
          if [ -f package-lock.json ]; then
            npm ci
          else
            npm install
          fi

      - name: Build app (if needed)
        if: ${{ matrix.app == 'frontend' }}
        run: |
          cd frontend
          npm run build

      - name: Docker build & push
        run: |
          docker build -t shirelchaulker/${{ matrix.app }} ./{{ matrix.app }}
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker push shirelchaulker/${{ matrix.app }}

  cd:
    needs: ci
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to VM
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            docker compose pull
            docker compose up -d --remove-orphans
